@page
@model AdminPanel.Pages.Directions.CreateModel

@{
    ViewData["Title"] = "Создание направления";
}

<h1>Создание</h1>

<h4>Направление</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direction.NameDirection" class="control-label"></label>
                <input asp-for="Direction.NameDirection" class="form-control" />
                <span asp-validation-for="Direction.NameDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
