@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>"Это админ панель для управлением телеграм чат-ботом VPMT_OnboardingBot"</p>
    <p></p>
    <div>Используйте кнопку Сотрудники в верхней панели, для просмотра, создания, изменения и удаления сотрудников</div>
    <div>Используйте кнопку Кабинеты в верхней панели, для просмотра, создания, изменения и удаления кабинетов</div>
    <div>Используйте кнопку Этажи в верхней панели, для просмотра, создания, изменения и удаления эатжей</div>
    <div>Используйте кнопку Направления в верхней панели, для просмотра, создания, изменения и удаления направлений</div>
    <div>Используйте кнопку Вопросы в верхней панели, для просмотра и ответа на вопросы студентов</div>
    <div>Используйте кнопку Полезные ссылки в верхней панели, для просмотра, создания, изменения и удаления полезных ссылок</div>
    <div>Используйте кнопку Рассылки в верхней панели, для отправки рассылок всем зарегестрированным в боте пользователям</div>
</div>
