@page
@model AdminPanel.Pages.MailingLists.MailingListsModel
@{
    
}

<form method="post">
    <div class="form-group">
        <label for="message">Сообщение:</label>
        <textarea id="message" name="Message" class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>